services:
  redis:
    image: redis:7-alpine
    container_name: url_shortener_redis
    ports:
      - "6379:6379"

  backend:
    build:
      context: ./backend
    image: react-shortener-backend
    container_name: url_shortener_backend
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
    depends_on:
      - redis
    ports:
      - "8080:8080"

  frontend:
    build:
      context: ./frontend
    image: react-shortener-frontend
    container_name: url_shortener_frontend
    depends_on:
      - backend
    ports:
      - "3000:80"
