server:
  port: 8080

spring:
  application:
    name: url-shortener-backend

  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      timeout: 2000

logging:
  level:
    org.springframework.data.redis: INFO
